<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yedam.app.emp.mapper.EmpMapper">
	
	<!-- 전체조회 -->
	<select id="selectEmpAll" resultType="EmpVO">
		SELECT employee_id, 
				first_name, 
				last_name, 
				email, 
				phone_number, 
				hire_date, 
				job_id, 
				salary, 
				commission_pct, 
				manager_id, 
				department_id
		FROM employees
		<!-- dynamic sql -->
		<where>
			<if test="departmentId > 0">
				OR department_id = #{departmentId}
			</if>
			<if test="jobId != null and !jobId.equals('')">
				OR job_id = #{jobId}
			</if>
		</where>
		ORDER BY employee_id
	</select>
	<!-- 단건조회 -->
	<select id="selectEmp" resultType="EmpVO">
		SELECT employee_id, 
				first_name, 
				last_name, 
				email, 
				phone_number, 
				hire_date, 
				job_id, 
				salary, 
				commission_pct, 
				manager_id, 
				department_id
		FROM employees
		WHERE employee_id = #{employeeId}
	</select>
	<!-- 등록 -->
	<insert id="insertEmpInfo" parameterType="EmpVO">
		INSERT INTO employees
				(
					employee_id
					, last_name
					, email
					, job_id
					, hire_date
					<if test="salary > 0">
					, salary
					</if>
				)
			VALUES
				(
					employees_seq.NEXTVAL
					, #{lastName}
					, #{email}
					, #{jobId}
					<choose>
						<when test="hireDate != null">
							, #{hireDate}
						</when>
						<otherwise>
							, sysdate
						</otherwise>
					</choose>
					<if test="salary > 0">
					, #{salary}
					</if>
				)
	</insert>
	<!-- 수정 -->
	
	<!-- 삭제 -->
	
	
	
	
	
	
	
	
	
	
	
	
	
	
</mapper>